<div class="list-container">
    <div class="list-body"  *ngIf="toDoListsPromise | async as toDoLists; else loading">
        <div class="header-elements">
            <h2 class="text-white">To-Do Lists</h2>
                <div class="right-header-elements">
                    <input class="search-box me-3" type="text" [(ngModel)]="search">
                    <button class="btn add-button" (click)="openModal()">Add</button>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Tag</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let toDoList of toDoLists; trackBy: trackByToDoListId">
                    <tr *ngIf="isIncludedInSearch(toDoList)">
                        <td>{{ toDoList.title }}</td>
                        <td>{{ toDoList.endDate | date: 'mediumDate' }}</td>
                        <td>{{toDoList.tag? tagMap.get(toDoList.tag) : ""}}</td>
                        <td dropdown class="dropdown">
                            <button dropdownToggle class="btn menu-button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="menu-image" src="assets/menuWhite.png">
                            </button>
                            <ul *dropdownMenu class="dropdown-menu text-small">
                                <li><a class="dropdown-item" [routerLink]="['/todolist' , toDoList.id]"> View </a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" (click)="editList(toDoList)">Edit </a> </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" (click)="deleteToDoList(toDoList.id)">Delete </a> </li>
                            </ul>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div> 

<ng-template #loading> loading...</ng-template>

<app-add-list-form  *ngIf="isModalOpen" [list]="listToEdit" (close)="closeModal()"></app-add-list-form>
