<body>
    <div class="pomodoro-container">
        <div class="type-container">
            <button #pomodorobtn id="pomodorobtn" class="active">Pomodoro</button>
            <button #shortbreakbtn id="shortbreakbtn">Short break</button>
            <button #longbreakbtn id="longbreakbtn">Long break</button>
        </div>
        <div class="pomodoro-count"></div>
        <div class="progressbar">
            <div class="progressbar-inner">
                <h2 class="progressbar-number">25:00</h2>
            </div>
        </div>
        <div class="function-buttons">
            <button id="startbtn">Start</button>
            <button id="pausebtn">Pause</button>
            <button id="resetbtn">Reset</button>
        </div>
    </div>
</body>
