:host {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.pomodoro-container {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ed6456;
    padding: 20px 20px;
    border-radius: 15px;
}

.tomato {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.info-image {
    margin-right: 20px;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.type-container {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.type-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: #636363;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    text-wrap: nowrap;
}

.type-container button:hover {
    transform: scale(1.2);
}

.type-container .active {
    background-color: #3f6644;
    color: white;
}

#longbreakbtn {
    display: none;
}
.pomodoro-count {
    margin-bottom: 20px;
    display: none;
    font-weight: 800;
}
.function-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.function-buttons button {
    color: white;
    font-weight: bold;
    background-color: #61946f;
}

#startbtn,
#pausebtn,
#resetbtn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

        cursor: pointer;
}

.function-buttons button:hover {
    transform: scale(1.2);
    background-color: #3f6644;
    color:white;
}


.vertical-bar {
    border-left: 1px solid white;
    height: 80px;
    margin-right: 40px;
    margin-left: 40px;
}

.progressbar {
        height: 180px;
        width: 180px;
        background: conic-gradient(rgb(63, 102, 68) 0deg, #61946f
        0deg);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: pulse 3s infinite;
        transition: all ease;
}
.progressbar-inner {
        height: 90%;
        width: 90%;
        background:#ed6456;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.progressbar-number {
        color: #ffffff;
        font-weight: 900;
        font-size: 2rem;
}
@keyframes pulse {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97);
    }
    }