<div class="page-container">
    <div class="title align-items-center mb-3">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img
            class="bi me-2"
            width="110"
            height="64"
            role="img"
            aria-label="Pomo-Doer"
            src="/assets/pomodoer_assets/tomatoLeavesLarge.png"
            style="transform: scaleX(-1);"
        />
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><h1><a href="login" class="nav-link px-2 link-secondary"> Welcome to Pomo-Doer</a></h1></li>
        </ul>

        <img
        class="bi me-2"
        width="110"
        height="64"
        role="img"
        aria-label="Pomo-Doer"
        src="/assets/pomodoer_assets/tomatoLeavesLarge.png"/>     
    </div>
    <h4 class="text-center">Stay on task with to-do lists and a pomodoro timer!</h4>
</div>

<div class="register-container">
<form #registerForm="ngForm" (ngSubmit)="register(registerForm)" autocomplete="off">
    <h2 class="text-center text-white">Sign Up</h2>
    <br>
    <!-- First Name -->
    <div class="mb-3 form-floating"> 
        <input type="text" 
        name="firstName" 
        [(ngModel)]="model.firstName" 
        class="form-control me-2" 
        placeholder="First Name"
        #firstName ="ngModel"
        [ngClass]="{'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }"
        required
        >
        <label>First Name:</label>
        <div *ngIf="firstName.invalid && firstName.touched" class="text-white">
            <small *ngIf="firstName.errors?.['required']">First name is required.</small>
        </div>
    </div>

    <!-- Last Name -->
    <div class="mb-3 form-floating">
        <input type="text" 
        name="lastName" 
        [(ngModel)]="model.lastName" 
        class="form-control me-2" 
        placeholder="Last Name"
        #lastName="ngModel"
        [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }"
        required
        >
        <label>Last Name:</label>
        <div *ngIf="lastName.invalid && lastName.touched" class="text-white">
            <small *ngIf="lastName.errors?.['required']">Last name is required.</small>
        </div>
    </div>

    <!-- E-mail -->
    <div class="mb-3 form-floating">
        <input type="email" 
        name="email" 
        [(ngModel)]="model.email" 
        class="form-control me-2" 
        placeholder="E-mail"
        #email="ngModel"
        [ngClass]="{'is-invalid': email.invalid && email.touched }"
        required
        email
        >
        <label>E-mail:</label>
        <div *ngIf="email.invalid && email.touched" class="text-white">
            <small *ngIf="email.errors?.['required']">Email is required.</small>
            <small *ngIf="email.errors?.['email']">Invalid email format.</small>
        </div>
    </div>

    <!-- Password-->
    <div class="mb-3 form-floating">
        <input type="password" 
        name="password" 
        [(ngModel)]="model.password" 
        class="form-control me-2" 
        placeholder="Password"
        #password="ngModel"
        required
        minlength="8"
        [ngModelOptions]="{updateOn: 'blur'}"
        [ngClass]="{'is-invalid': password.invalid && password.touched}"
        appPasswordStrength
        >
        <label>Password:</label>
        <div *ngIf="password.invalid && password.touched" class="text-white">
            <small *ngIf="password.errors?.['required']">Password is required.</small>
            <small *ngIf="password.errors?.['minlength']">Password must be at least 8 characters.</small>
            <small *ngIf="password.errors?.['passwordStrength']" >Password must contain at least one number and one special character.</small>
        </div>
    </div>

    <!-- Password Matching Validator -->
    <div class="mb-3 form-floating">
        <input type="password" 
        name="verifyPassword" 
        [(ngModel)]="model.verifyPassword" 
        class="form-control me-2" 
        placeholder="Re-enter Password"
        #verifyPassword="ngModel"
        [ngClass]="{'is-invalid': verifyPassword.invalid && verifyPassword.touched}"
        required
        >
        <label>Confirm Password:</label>
        <div *ngIf="verifyPassword.invalid && verifyPassword.touched" class="text-white">
            <small *ngIf="verifyPassword.errors?.['required']">Password confirmation is required.</small>
            <small *ngIf="model.password !== model.verifyPassword && verifyPassword.touched">Passwords must match.</small>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-default me-2" type="submit">Register</button>
    </div>
</form>
<br>
    <p>Already have an account?   
        <button class="btn">
            <a class="nav-link text-decoration-none" href="login">Login Here</a>
        </button>
    </p>        
    </div>
    <br>
    <h4 class="text-center">Want to try out a pomodoro timer before making an account?</h4>
    <button class="btn pomodoro-btn"><a class="nav-link text-decoration-none" href="guest">Pomodoro Timer</a></button>
</div>
