<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img
            class="bi me-2"
            width="60"
            height="32"
            role="img"
            aria-label="Pomo-Doer"
            src="/assets/pomodoer_assets/tomatoLeavesSmall.png"
            style="transform: scaleX(-1);"
        />

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><h2><a href="todolist/all" class="nav-link px-2 link-secondary">Pomo-Doer</a></h2></li>
        </ul>

        <h5 class="me-3"> Welcome {{userName}} </h5>

        <div dropdown class="dropdown text-end me-3">
            <a dropdownToggle class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/pomodoer_assets/favicon.ico" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul *dropdownMenu class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"(click)="logout()">Logout</a></li>
            </ul>
        </div>
        <img
            class="bi me-2"
            width="60"
            height="32"
            role="img"
            aria-label="Pomo-Doer"
            src="/assets/pomodoer_assets/tomatoLeavesSmall.png"/>
        </div>
    </div>
</header>
