header {
    background-color: #8DD9a1;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

h2 {
    color: #636363;
}

h5 {
    color:#636363
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #61946f !important; 
    color: white !important; 
}

.dropdown-item:hover {
    background-color: #61946f !important;
    color: white !important;
}