<div>
    <div class="w-100 d-flex align-items-center bg-body-green m-auto bd-mode-toggle">       
        <form #loginForm= "ngForm" (ngSubmit)="login()" autocomplete="off">
            <h2 class="text-center text-primary">Please Login</h2>
            <div class="mb-3 form-floating">
                <input type="email" 
                name="email" 
                [(ngModel)]="model.email" 
                class="form-control me-2" 
                placeholder="E-mail">
                <label>E-mail:</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" 
                name="password" 
                [(ngModel)]="model.password" 
                class="form-control me-2" 
                placeholder="Password">
                <label>Password:</label>
            </div>
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
</div>
